@model ForumIndexModel

<h1>Forums</h1>
@if (User.Identity.IsAuthenticated)
{
    <span id="headingBtn">
        <a asp-controller="Forum" asp-action="Create" class="btn btn-newPost">Create Forum Topic</a>
    </span>
}
<br />
<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-forumId="@forum.Id">
                        @forum.Name
                    </a>
                </td>

                <td>@forum.Description</td>
                <td>Created By: @forum.UserName (@forum.UserRating)</td>
                <td>@forum.Created.ToString("dd/MM/yyyy")</td>
                <td> Posts: @forum.PostsCount</td>
            </tr>
        }
    </tbody>
</table>